*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.heading{
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  font-size:  2.5em;
  margin-top: 0.5rem;
  }

#clients {
	display: block;
	margin-left: auto;
	margin-right: auto;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

#clients .clients-wrap {
	display: block;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#clients .clients-wrap ul {
	display: block;
	list-style: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#clients .clients-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 220px;
  height: 200px;
  line-height: 100px;
  text-align: center;
}
#clients .clients-wrap ul li img {
  max-width: 100%;
  max-height: 100%;
  width:100%;
  height:100%;
  
}

.sponser{
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size:2.5rem;
  justify-content: center;
}

.part{
  background: url(./poor\ \(1\).jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.box-conatiner{  
  text-align: center;
  width: 100%;  
  max-width: 1440px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  flex-flow: wrap;  
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}  
.box{  
  width: 269px;  
  padding: 15px;  
  min-height: 430px;  
}  
.box1{  
  background-color:  #D7306D;
  border-top-left-radius: 10px;  
  border-bottom-left-radius: 10px;  
}  

.box2{  
  background-color: black;  
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;  
}  
.content{  
  padding: 10px;  
}  
h2{  
  color: hsl(0,0%,95%);  
  text-transform: uppercase;  
  font-family:Arial, Helvetica, sans-serif;  
  margin: 20px 0;  
}  
p{  
  color: hsla(0,0%,100%,0.75);  
  font-family:Arial, Helvetica, sans-serif;  
}  
.btn{  
  margin: 60px 0;  
  padding: 15px 40px;  
  border: 0;  
  border-radius: 30px;  
  outline: none;  
  background-color: #FFF;  
  font-size: 15px;  
  cursor: pointer;  
  font-family:Arial, Helvetica, sans-serif;  
  font-weight: 700;  
}  
.btn1{  
  color: #D7306D;  
}  
.btn2{  
  color: black; 
}
.btn:hover{  
  background-color: transparent;  
  border: 2px solid #FFF;  
  color: #FFF;  
  transition: 0.4s;  
}  
