* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #fffef5;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px 35px;
    border-radius: 8px;
    box-shadow: 0px 5px 16px 1px rgb(212, 210, 210);
}

.about-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    z-index: 10;
}

.image-wrapper {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;  
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 70px 0;
    padding-right: 2px;
}

p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
    overflow: hidden;
    transition: 450ms;
}

@keyframes funtoos {
    from {
        height: 0px;
        opacity: 0;
    }

    to {
        height: 100%;
        opacity: 1;
    }
}

.name {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.profession {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}

.image {
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    display: none;
    flex-direction: row;
    transition: 1s;
}

.slider-button {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 70px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 5px 16px 1px rgb(179, 179, 179);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-30%);

}

@media (max-width:768px) {
    body {
        background-color: white;
    }

    .card {
        justify-content: center;
        box-shadow: none;
    }

    .about-wrapper {
        order: 2;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .about {
        align-items: center;
        text-align: center;
        padding: 25px 25px;
    }

    .image-wrapper {
        order: 1;
    }

    .p {
        padding-top: 25px;
    }

    .slider-button {
        margin-bottom: -390px;
        z-index: 1;
        margin-left: -20px;
    }

   
}

@media (max-width: 450px) {
    p {
        font-size: 22px;
        margin: 5px 0px;
        padding-top: 50px;
    }

    body {
        background-color: white;
    }

    .card {
        justify-content: center;
        box-shadow: none;
        padding-right: 5px;
        padding-left: 5px;
    }
    .slider-button {
        margin-bottom: -390px;
        z-index: 1;
        margin-left: -20px;
    }
}