.card-container{
  width: 250px;
  overflow: hidden;
  /* box-shadow: 0px 0px 15px -5px; */
  background: white;
  height: 21rem;
  border-radius: 10px;
  margin: 140px 20px 20px;
  transition: 0.5s ease-in-out;
}

.image-container img{
  overflow: hidden;
  height: 170px;
}

.card-content{
  margin: 1rem ;
  margin-top: 0.5rem;
  text-align: center;
}

h3,p{
  margin:0;
  padding: 0;
}

.card-title{
  margin-bottom: 0.5rem;
}

.card-body{
  font-size: 15px;
  margin-top: 20px;
}

.card-container:hover{
  transform: scale(1.1);
}