@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider{
    background-color:white;
    width: 65%;
    height: 65%;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5);
}

.slider::before,.slider::after{
    content:"";
    position: absolute;
    width: 65%;
    height: 65%;
    z-index: 2;
}

.slider::before{
    top: 0;
    left: 0;
}

.slider::after{
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slider .slider-track{
    display: flex;
    width: calc(250px*14);
    animation: scroll 20s infinite linear;
}

.slider .slide img{
    width: 200px;
    height: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes scroll{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(calc(-250px*7));
    }
}

.heading{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size:2.5rem;
    font-weight: bold;
    }

.sponser{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size:2.5rem;
    font-weight: bold;
    justify-content: center;
}

.part{
    background: url(./poor\ \(1\).jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.box-conatiner{  
    text-align: center;
    width: 100%;  
    max-width: 1440px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-flow: wrap;  
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}  
.box{  
    width: 269px;  
    padding: 15px;  
    min-height: 430px;  
}  
.box1{  
    background-color:  #D7306D;
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;  
}  

.box2{  
    background-color: black;  
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;  
}  
.content{  
    padding: 10px;  
}  
h2{  
    color: hsl(0,0%,95%);  
    text-transform: uppercase;  
    font-family: 'Lexend Deca', sans-serif;  
    margin: 20px 0;  
}  
p{  
    color: hsla(0,0%,100%,0.75);  
    font-family: 'Big Shoulders Display', cursive;  
}  
.btn{  
    margin: 60px 0;  
    padding: 15px 40px;  
    border: 0;  
    border-radius: 30px;  
    outline: none;  
    background-color: #FFF;  
    font-size: 15px;  
    cursor: pointer;  
    font-family: 'Lexend Deca', sans-serif;  
    font-weight: 700;  
}  
.btn1{  
    color: #D7306D;  
}  
.btn2{  
    color: black; 
}
.btn:hover{  
    background-color: transparent;  
    border: 2px solid #FFF;  
    color: #FFF;  
    transition: 0.4s;  
}  