body{
  font-family: poppins, sans-serif;
}

#home-container {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15%;
  width: 100%;
  overflow: hidden;
}

.rect {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to right, #FFDEEF, #FFDEEF);
  color: white;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  z-index: 0;
}

.main-title {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 35vw;
  height: auto;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 9%;
  right: 9%;
  box-sizing: content-box;
  padding: 20px;
  border-left: 1rem solid rgb(215, 48, 109);
  padding-top: 40px;
  animation: fade-left 0.75s ease-in normal;
}
@keyframes fade-left {
  0%{
    opacity: 0%;
    margin-left: -50px;
  }
  100%{
    opacity: 100%;
    margin-left: 0px;
  }
}

.main-title:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#title-heading {
  color: #141414;
  font-family: poppins, sans-serif;
  font-weight: 650;
  line-height: 64px;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;

}

#title-content {
  color: #141414;
  font-family: poppins, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  line-height: 50px;
  margin-top: 0%;
  margin-bottom: 3%;
}

.pic-ctn {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 8%;
  left: -5%;
  z-index: 1;
  overflow: hidden;
}

.pp{
  width: 60%;
  height: inherit;
}

.about{
  width: auto;
}

.about-title{
 width: auto;
}




@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}




.pic-ctn>img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 15s infinite;
}

img:nth-child(2) {
  animation-delay: 3s;
}

img:nth-child(3) {
  animation-delay: 6s;
}

img:nth-child(4) {
  animation-delay: 9s;
}

img:nth-child(5) {
  animation-delay: 12s;
}

#about-container{
  
  position: relative;
 padding: 0%;
 margin: 0%;
}

.about{
  text-align: center;
  align-items: center;
  border-radius: 25px;
  background-color: #E2E2F3;
  opacity: 60%;
  z-index: 2;
  margin: 2% 7% 2%;
  padding: 4% 5% 3% 5%;
}
.about-title{
  position: relative;
  text-align: center;
  top: 45px;
  font-size: 4rem;
  font-weight: 600;
  z-index: 3;
}
.about-content{
  color: #141414;
  font-size: 2rem;
  text-align: justify;
  opacity: 100%;
}
.wave-left{
  position: absolute;
  opacity: 70%;
  left: 0%;
  top: 0.2%;
  padding: 0;
  max-width: 10%;
  z-index: 1;

}
.wave-right{
  position: absolute;
  right: 0%;
  opacity: 70%;
  padding: 0;
  max-width: 10%;
  z-index: 1;

}

@media (max-width:1064px){
  .main-title {
    width: 80%;
    height: auto;
    text-align: center;
    top: 10%;
    left: 10%;
  }
  .pic-ctn {
    top: 60%;
    left: -20%;
    right: 20%; 
  }
  #home-container {
    margin-bottom: 35%;
  }
 .pp{

    height: auto;
 }
  .about-content{
    font-size: 1.65rem;
  }
}


@media (max-width:800px){
  #home-container {
    margin-bottom: 30%;
  }
  .about-content{
    padding-top: 5%;
  }
  .pic-ctn{
    left: -13%;
  }
  .about-content{
    font-size: 1.5rem;
  }
}

@media (max-width:700px) {
  #home-container {
    margin-bottom: 32%;
  }
  .pic-ctn {
    left: -11%;
}
  
}

@media (max-width:550px) and (min-width:424px){
  #home-container {
    margin-bottom: 40%;
  }
  .pic-ctn {
    top: 48%;
    width: 130%;
    left: -30%;
    
  }
  .main-title{
    width: auto;
  }
  #title-heading{
    font-size: 3.5rem;
    line-height: 36px;
  }
  #title-content{
    font-size: 2rem;
    line-height: 36px;
  }
  .about-title{
    font-size: 3rem;
    top: 10%;
  }
  .about-content{
    font-size: 1.5rem;
  }
}

@media (max-width:423px) and (min-width:300px){
  #home-container {
    margin-bottom: 52%;
  }
  .pic-ctn {
    top: 62%;
    width: 120%;
    left: -20%;
    
  }
  .main-title{
    width: auto;
  }
  #title-heading{
    font-size: 3.5rem;
    line-height: 36px;
  }
  #title-content{
    font-size: 2rem;
    line-height: 36px;
  }
  .about-title{
    font-size: 2.5rem;
    top: 50%;
  }
  .about-content{
    font-size: 1.5rem;
    padding-top: 2px;
  }
}
