button {
  border-radius: 4px;
  
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  width: 450px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 16px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  background-color: #D7306D;

}
button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}
input{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

input:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

input:hover{
  padding-right: 24px;
  padding-left:8px;
}

input:hover:after {
  opacity: 1;
  right: 10px;
}
